@model ListModel
<header class="jumbotron jumbotron-fluid text-center mt-0 p-4 ">
    <h1 class="mt-3 text-white" style="font-size: 2rem;"> Frequently Asked Questions </h1>
</header>
<div class="row">
    <div class="col-sm-9 offset-sm-3 p-3">
        <div class="list-group list-group-horizontal">
            @foreach (Topic div in Model.Topics)
            {

                <a asp-controller="Home" asp-action="Index"
               asp-route-activeDivision="@div.Url"
               class="list-group-item border-0 bg-white text-black @Model.CheckActiveDivision(div.Url)">
                    @div.Name
                </a>
            }
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="row">
        <div class="col-sm-3">
            <div class="list-group mt-3">
                @foreach (Category conf in Model.Categories)
                {
                    <a asp-action="Index"
                   asp-route-activeConfiguration="@conf.Url"
                   class="list-group-item @Model.CheckActiveConfig(conf.Url)">
                        @conf.Name
                    </a>
                }
            </div>
        </div>
        <div class="col-sm-9">
            @foreach (FAQs faq in Model.FAQs)
            {
                <div class="faq-container my-3 rounded border-1 p-3">
                    <div class="contents">
                        <p>
                            <span><b>@faq.Question</b></span>
                            <span>@faq.Answer</span>
                        </p>
                    </div>
                    <br />
                    <div class="tags w-1">
                        <span class="text-start">Topic: @faq.Topic.Name</span>
                        <span class="float-end">Category: @faq.Category.Name</span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
